[Unit]
Description = node-exporter

[Service]
User = root
ExecStart = /usr/local/bin/node_exporter
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
